/* ----------- flexbox ----------- */
.flex-container {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap; 
}

#header {
    -webkit-order: 1;
    order: 1; 
}

.content {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: column wrap;
    flex-flow: column wrap;
    -webkit-order: 2;
    order: 2; 
}

.primary {
    -webkit-order: 4;
    order: 4; 
}

.secondary {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column-reverse;
    flex-direction: column-reverse;
    -webkit-order: 3;
    order: 3; 
}

#footer {
    -webkit-order: 5;
    order: 5; 
}

/* ----------- media queries --------------------- */
@media screen and (min-width: 48em) {

    .content {
        -webkit-flex-flow: row wrap;
        flex-flow: row wrap; 
        width: 75%;
    }

    .content .box {
        border-bottom: 1px solid #999;
        padding: 0;
        margin: 0 1em;
        flex: 1 1 30%;
    }

    .primary {
        width: 25%;
        padding: 1em 4.833%;
        -webkit-order: 3;
        order: 3; 
    }

    .secondary {
        -webkit-flex-direction: row;
        flex-direction: row;
        -webkit-justify-content: space-around;
        justify-content: space-around;
        padding: 3% 4%;
    }

    .secondary .box {
        padding: 0;
        margin: 0 1em;
    }

}

@media screen and (min-width: 60em) {

    .content .box {
        flex: 1 1 25%;
    }

}
